@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using CarsApi.Models;
@{
    Layout = "/Views/Shared/_Layout.cshtml";

    var imageUrl = Model.Value<IPublishedContent>("image")!.Url();
    var description = Model.GetProperty("description");
    var text = description!.GetValue();
    var launchDate = Model.Value<DateTime>("launchDate").ToShortDateString();
    var price = Model.Value<decimal>("price");
}

<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src=@imageUrl class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text">@text</p>
                    <p class="card-text"><small class="text-body-secondary">Launch date: @launchDate</small></p>
                    <p class="card-text"><small class="text-body-secondary">Price: @price$</small></p>
                    <a href="/sar-showroom" class="btn btn-primary">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>