@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models;
@using CarsApi.Controllers;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    @*var baseNode = Umbraco.Content(1064);
    var nodes = baseNode!.Children("carBrand");*@
}

<h1>Hi there!</h1>

