@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Core.Models;
@using CarsApi.Controllers;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
    var about = Model.GetProperty("about");
    var aboutText = about!.GetValue();
    var imageUrl = Model.Value<IPublishedContent>("image")!.Url();
}

<div class="container">
    <div class="row text-center p-4">
        <h3>@(Model.Value<string>("title"))</h3>
    </div>
    <div class="row">
        <img src=@imageUrl class="img-fluid rounded-start" alt="...">
    </div>
    <div class="row-4 text-center m-4">
        <a href="/sar-showroom" class="btn btn-primary">View Cars</a>
    </div>
    <div class="row p-4">
        @aboutText
    </div>
</div>